body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 25px;
    background-color: #e0e0e0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.dish {
    background-color: #888;
    border: 2px solid #444;
    padding: 25px;
    max-width: 300px;
    flex: 1 1;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.food-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #c0c0c0;
    padding: 5px 30px;
    font-weight: 700;
    border: 2px solid #444;
}

.chicken-dish .food-label {
    background-color: #f9d6d6;
}

.beef-dish .food-label {
    background-color: #a32222;
    color: white;
}

.sushi-dish .food-label {
    background-color: #f5e68b;
}

@media (max-width: 768px) and (min-width: 481px) {
    .sushi-dish {
        max-width: 665px;
        min-width: 300px;
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .dish {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
